@import "../font/css.css";

@font-face {
  font-family: 'HarmonyOS_Sans';
  src: url('./HarmonyOSHans-Regular.woff2');
}

::-webkit-scrollbar {
  /* 滚动条整体部分 */
  width: 10px;
  margin-right: 2px
}

::-webkit-scrollbar:horizontal {
  height: 10px;
  margin-bottom: 2px
}

::-webkit-scrollbar-track {
  /* 外层轨道 */
  border-radius: 0;
}

::-webkit-scrollbar-track-piece {
  /*内层轨道，滚动条中间部分 */
  background-color: #CBCBCB;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  /* 滑块 */
  width: 10px;
  border-radius: 0;
  background: #333;
}

::-webkit-scrollbar-corner {
  /* 边角 */
  width: 10px;
  background-color: red;
}

::selection {
  background: #000;
  color: #fff;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

button,
input,
textarea {
  -webkit-appearance: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", Helvetica, Arial, sans-serif
}

button:focus,
input:focus,
textarea:focus {
  outline: 0
}


body {
  margin: 0;
  line-height: 1.8;
  color: #000;
  background: #e8eaed;
  font-size: 17px;
}

* {
  font-family: 'Noto Serif SC', serif;
}

@media(max-width:800px) {
  * {
    font-family: 'HarmonyOS_Sans';
  }
}

ol,
ul {
  list-style: none;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption,
td,
th {
  font-weight: 400;
  text-align: left
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: ""
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none
}

blockquote {
  border-left: 3px solid #d0d7de;
  font-weight: 400;
  letter-spacing: .01rem;
  margin: 30px 0;
  padding-left: 16px;
  color: #57606a;
  font-size: 16px;
}

a:active,
a:hover {
  outline: 0
}

p {
  word-break: break-all;
}

pre {
  padding: 0 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font: 14px/22px 'courier new';
  position: relative;
  margin: 40px 0;
  background-color: #f8f8f8
}

code {
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  letter-spacing: 0;
  font-size: 15px;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  border-radius: 3px;
  background: #eee;
  padding: 4px 6px;
}

pre code {
  padding: 0;
  border-radius: 0;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.screen-reader-text {
  position: absolute;
  left: -9999px;
  top: -9999px
}

button::-moz-focus-inner {
  border: 0;
  padding: 0
}

a {
  color: inherit;
  text-decoration: none
}

input[disabled] {
  cursor: default;
  color: rgba(0, 0, 0, .8);
  background-color: rgba(0, 0, 0, .05)
}

.home {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0 !important;
  overflow: initial !important;
  display: flex;
}

header.header {
  width: 260px;
  text-align: right;
  padding-right: 30px;
  box-sizing: border-box;
  padding-top: 10px;
}

.site-header {
  position: sticky;
  top: 50px;
}

#container {
  max-width: 740px;
  flex: 1;
  padding: 0px 20px 10px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

#go-back-home {
  display: inline-block;
  font-size: 26px;
}

.site-header p {
  font-size: 14px;
  color: #999
}

.footer {
  border-top: 1px dotted #999;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 15px;
}

.footer .container {}

.footer .container>div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer .container p {
  margin: 0;
}

.footer .container em {
  padding: 0 6px;
}

.footer .top {
  position: fixed;
  right: 10%;
  bottom: 10%;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  display: none;
}

.footer .top:hover {
  opacity: 0.8;
  cursor: pointer;
}

.footer .top i {
  display: inline-block;
  width: 17px;
  height: 2px;
  background: #555;
  position: absolute;
  top: 50%;
}

.footer .top i:nth-child(1) {
  transform: rotate(45deg);
  right: 20%;
}

.footer .top i:nth-child(2) {
  transform: rotate(-45deg);
  left: 20%;
}

article {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.index-content {
  font-size: 14px;
  opacity: 0.8;
}

.archive {
  padding: 10px;
}

.more {
  margin-bottom: 20px;
  border-bottom: 1px dotted #999;
}

.more a {
  border-bottom: 1px dashed #333;
}

.more span:nth-of-type(n+2):before {
  content: '、';
}

.more span:nth-last-of-type(1):before {
  content: '和';
}

.archives-time {
  margin-right: 4px;
}

#nav-menu ul {
  display: flex;
  flex-direction: column;
}

.topNav-items li {
  margin: 0 10px;
  display: inline;
  line-height: 1;
  padding: 10px 0;
  font-size: 17px;
}

.topNav-items li a:hover {
  cursor: pointer;
}

#nav-menu,
.main-content {
  padding: 10px
}

.breadcrumb {
  font-size: 15px;
  color: #666;
}

.current-menu-item a {
  border-bottom: 1px dotted #999
}

.block-title a:hover,
.menu-item a:hover {
  border-bottom: 1px dotted #999
}

.block-title {
  flex: 1;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.posttime {
  color: #919191;
  margin-right: 10px;
  font-size: 15px;
}

.post-title {
  font-weight: 800;
  font-size: 22px;
  text-align: center;
  padding: 10px 10px 0
}

.post-time {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin-top: 10px
}

.content ol,
.content p,
.content ul {
  margin-bottom: 20px
}

.content .wp-caption,
.content p.with-img {
  margin-left: -60px;
  margin-right: -60px
}

.content strong {
  font-weight: 700;
  font-size: 19px;
}

.content em {
  font-style: italic
}

.content li {
  margin-left: 30px;
  margin-bottom: 12px;
  padding-top: 2px
}

.content img {
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);

}

.content li:before {
  content: "•";
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  margin-left: -58px;
  padding-right: 15px;
  display: inline-block;
  text-align: right;
  width: 58px
}

.content ol {
  counter-reset: post
}

.content ol>li:before {
  content: counter(post, decimal) ".";
  counter-increment: post;
  padding-right: 12px
}

.content h3 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px
}

.content hr {
  margin: 0;
  display: block;
  border: 0;
  text-align: center
}

.content hr:before {
  content: '';
  display: block;
  height: 1px;
  width: 70%;
  margin: 20px auto;
  background: #d6d6d6;
}

.content a {
  text-decoration: underline;
  word-break: break-all;
  transition: all 0.1s linear;
  padding: 0 4px;
}

.content a:hover {
  background: #000;
  color: #fff;
}

.post-tags {
  color: #999;
}

.post-tags a:before {
  content: '#'
}

.post-tags a {
  padding-right: 10px;
  color: #999;
  font-size: 15px
}

.page404 {
  margin-top: 30px;
}

.blog-nav {
  text-align: center;
  border-top: 1px solid #f9f9f9;
  padding-top: 10px
}

.blog-nav:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both
}

.prev {
  float: left
}

.next {
  float: right
}

#comments>.comment-list>.comment-body {
  border: 1px solid #999;
  background: #e8eaed;
  margin-bottom: 20px;
}

#comments>.comment-list>.comment-body>.comment-meta {
  right: 74px;
}

.comment-info {
  display: flex;
  justify-content: space-between;
}

.comment-list .comment-body {
  position: relative;
  padding: 15px 10px 0;
  border-top: 1px solid rgba(0, 0, 0, .12);

}

.comment-list .comment-body .comment-img {
  font-size: 14px;
  margin-bottom: 16px;
}

.comment-list .comment-body .comment-img .fn {
  font-style: inherit;
  font-size: 17px;
  color: brown;
}

.comment-list .comment-body .comment-img .avatar {
  float: left;
  border-radius: 100%;
  margin-right: 8px;
}

#comments>.comment-list>.comment-body>.comment-children {
  margin-left: 50px
}

#comments>.comment-list>.comment-body>.comment-children .comment-body {
  padding-left: 0;
  padding-right: 0;
}

#comments>.comment-list>.comment-body>.comment-children .comment-body .comment-content {
  /*padding: 0;*/
}

.comment-list .depth-2 .children {
  margin-left: 0
}

.comment-list-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.comment-meta {
  color: rgba(0, 0, 0, .6);
}

.comment-meta .says {
  display: none
}

.comment-content {
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 0 10px;
  font-size: 16px;
  padding-left: 58px;
}

.comment-content p {
  margin: 10px 0;
}

.comment-reply a {
  background-color: #9E9E9E;
  color: #fff;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 2px
}

.respond {
  margin-top: 30px
}

.required {
  color: #c00
}

#comment-form {
  position: relative;
}

.comment-form label {
  display: block;
  margin-bottom: 3px;
  cursor: pointer
}

.comment-form p {
  margin-bottom: 15px
}

.comment-form .comment-form-author input,
.comment-form .comment-form-email input,
.comment-form .comment-form-url input {
  border: 1px rgba(0, 0, 0, .05) solid;
  height: 30px;
  padding: 0 10px;
  width: 280px;
  font-size: 14px;
  border-radius: 3px;
  color: rgba(0, 0, 0, .6)
}

.comment-form .comment-form-comment textarea {
  resize: none;
  width: 100%;
  border: 1px rgba(0, 0, 0, .05) solid;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3px
}

.submit {
  border: 1px solid #9E9E9E;
  background-color: #9E9E9E;
  display: inline-block;
  padding: 7px 22px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
}

.submit:hover {
  opacity: 0.8;
}

.comments-title {
  font-weight: 700;
  padding: 5px 0
}

#response {
  font-size: 20px;
}

.comments-hint {
  color: #666;
  font-size: 15px;
}

.comments h6 {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.comment-reply-title {
  font-size: 18px;
  color: rgba(0, 0, 0, .44)
}

.comment-awaiting-moderation {
  background-color: #fcf8e3;
  color: #c09853;
  font-size: 12px;
  padding: 2px 6px
}

.comments {
  padding: 10px;
}

.comments>hr {
  display: block;
  width: 60%;
  height: 1px;
  background: #bbb;
  margin: 20px auto;
  border: none;
  outline: none;
}

.place {
  margin-top: 20px;
  margin-bottom: 20px;
}

.place span::before {
  content: '【';
}

.place span::after {
  content: '】';
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tags-list li {
  margin-right: 14px;
  padding-right: 6px;
  padding-bottom: 10px;
}

.banner {
  margin-bottom: 20px;
}

.banner img {
  width: 100%;
}

.banner p {
  font-style: italic;
  color: #666;
  margin: 0;
  font-size: 16px;
  font-family: cursive !important;
}

.archives-item-title {
  font-size: 20px;
}

.autoMenu ul li {
  color: #444;
}

.autoMenu ul li.sub {
  font-size: 14px;
  color: #888;
}

.autoMenu ul li.active {
  text-decoration: underline;
}

.prevornext {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.prevornext p {
  width: 48%;
  color: #666;
  font-size: 16px;
  margin: 0;
}

.prevornext p a {
  font-style: italic;
  transition: all 0.2s linear;
}

.prevornext p:nth-child(1)::before {
  content: '上一篇:';
}

.prevornext p:nth-child(2)::before {
  content: '下一篇:';
}

.prevornext p a:hover {
  text-decoration: underline;
}


/*评论css样式开始*/
#comment-form .item-input {
  display: flex;
  align-items: center;
}

#comment-form .item-input input {
  flex: 1;
  font-size: 16px;
  padding: 5px 4px;
  box-sizing: border-box;
  border: 1px solid #b5b5b5;
}

#comment-form .item-input input::placeholder {
  opacity: 0.6;
}

#comment-form .item-textarea {
  display: flex;
  align-items: baseline;
}

#comment-form .item-textarea textarea {
  flex: 1;
  padding: 4px;
  box-sizing: border-box;
  font-size: 16px;
  height: 150px;
  resize: none;
  border: 1px solid #b5b5b5;
}

#comment-form .item-input input:focus,
#comment-form .item-textarea textarea:focus {
  background: #f3f3f3;
}

#comment-form p label {
  min-width: 60px;
  color: #000;
}

#comment-form .item-submit {
  text-align: right;
}

#smiliesbutton {
  position: absolute;
  margin-top: -50px;
  margin-left: 67px;
}

#smiliesbutton a {
  background: #eee;
  font-size: 15px;
  padding: 1px 7px;
  border: 1px solid #bbb;
  border-radius: 5px;
  transition: all 0.2s linear;
}

#smiliesbutton a:hover {
  opacity: 0.8;
}

#smiliesbox {
  margin-top: -50px !important;
  margin-left: 60px;
  width: 71% !important;
}

@media (max-width:1000px) {
  .home {
    display: block;
    padding: 0;
  }

  header.header {
    width: 100%;
    padding: 0 20px;
    text-align: left;
    position: relative;
    margin-top: 30px;
  }

  .main-content {
    padding: 10px 0;
  }

  #nav-menu {
    padding-left: 0;
  }

  #nav-menu ul {
    display: block;
    padding-left: 0;
  }

  .topNav-items li {
    margin: 0;
    margin-right: 10px;
  }

  #container {
    padding: 0 16px 10px;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  article {
    display: block;
  }

  .block-title {
    font-weight: 600;
    font-size: 18px;
  }

  .autoMenu {
    display: none;
  }

  .footer {
    padding: 10px 0;
  }

  .footer .container>div {
    display: block;
  }

  .footer .container em {
    display: none;
  }

  .content {
    padding: 10px 0;
  }

  #comments {
    padding: 10px 0;
  }

  .post-title {
    padding: 10px 0 0;
  }

  .prevornext p {
    width: 100%;
  }

  .comment-content {
    padding: 0;
  }

  .comment-reply {
    text-align: right;
  }

  .comment-meta {
    display: block;
  }

  .comment-list .comment-body .comment-img span {
    display: none;
  }

}

.pjax-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #31b3c7;
  transition: opacity 0.5s;
}

.pjax-loading.active {
  width: 100%;
}