.input-group-wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}

.input-group {
	position: relative;
	width: 48%;
	margin-bottom: 20px;
}

.input {
	width: 100%;
	border: solid 1.5px #dbdbdb;
	font-family: OPPOSans;
	border-radius: 6px;
	background: 0 0;
	padding: .3rem 1rem;
	font-size: 1rem;
	color: #444;
	transition: border 150ms cubic-bezier(.4,0,.2,1);
	box-sizing: border-box
}

.user-label {
	position: absolute;
	left: 20px;
	color: #898989;
	pointer-events: none;
	transform: translateY(.5rem);
	transition: 150ms cubic-bezier(.4,0,.2,1)
}

.input:focus,input:valid {
	outline: 0;
	border: 1.5px solid #1a73e8
}

.input:focus~label,input:valid~label {
	transform: translateY(-50%) scale(.8);
	background-color: #fff;
	padding: 0 .2em;
	color: #4c4c4c
}

button {
	font-size: 16px;
	background: #007bff;
	color: #fff;
	padding: 5px 20px;
	display: inline-flex;
	align-items: center;
	border: none;
	border-radius: 30px;
	overflow: hidden;
	transition: all .2s;
	cursor: pointer
}

button span {
	display: block;
	margin-left: .3em;
	transition: all .3s ease-in-out
}

button svg {
	display: block;
	transform-origin: center center;
	transition: transform .3s ease-in-out
}

button:hover .svg-wrapper {
	animation: fly-1 .6s ease-in-out infinite alternate
}

button:hover svg {
	transform: translateX(1.2em) rotate(45deg) scale(1.1)
}

button:hover span {
	transform: translateX(5em)
}

button:active {
	transform: scale(.95)
}

@keyframes fly-1 {
	from {
		transform: translateY(.1em)
	}

	to {
		transform: translateY(-.1em)
	}
}


@media(max-width:520px) {
    .input-group-wrap {
        display: block;
    }
    
    .input-group {
        width: 100%;
    }
}